<!DOCTYPE html>
<html>
  <head>
    <title>Gallery</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <meta http-equiv="refresh" content="5">
  </head>
  <body>
        <style>
  @media screen and (max-width: 768px) {
    body {
      font-size: 1.1rem;
    }
    .title {
      font-size: 2rem;
    }
    .subtitle {
      font-size: 1.25rem;
    }
    button {
      font-size: 1rem;
    }
  }
</style>
    <section class="section">
      <div class="container">
        <h1 class="title">Gallery Mode</h1>
        {% if images %}
          <figure class="image">
            <img src="{{ url_for('static', filename=images[0]) }}">
          </figure>
        {% else %}
          <p>No images found.</p>
        {% endif %}
      </div>
    </section>
  </body>
</html>
