<!DOCTYPE html>
<html>
  <head>
    <title>Upload Image</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  </head>
  <body>
        <style>
  @media screen and (max-width: 768px) {
    body {
      font-size: 1.1rem;
    }
    .title {
      font-size: 2rem;
    }
    .subtitle {
      font-size: 1.25rem;
    }
    button {
      font-size: 3rem;
    }
  }
</style>
    <section class="section">
      <div class="container">
        <h1 class="title">Upload your picture</h1>
        <form method="POST" enctype="multipart/form-data is-fullwidth">
            <div class="columns is-mobile is-multiline">
              <div class="column is-full">
                <div class="file has-name is-fullwidth">
                  <label class="file-label is-fullwidth">
                    <input class="file-input is-fullwidth" type="file" name="file">
                    <span class="file-cta">
                      <span class="file-label is-fullwidth">Choose a file…</span>
                    </span>
            </label>
          </div>
          <br>
          <button class="button is-primary" type="submit">Upload</button>
        </form>
      </div>
    </section>
  </body>
</html>
